Package: com.ipadkid.lockvisualizer
Name: LockVisualizer
Depends: mobilesubstrate, com.rpetrich.rocketbootstrap
Version: 0.0.1
Architecture: iphoneos-arm
Description: Lockscreen music visualizer
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
